aiocache==0.12.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.17.0
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arsenic==21.8
asgiref==3.5.2
astor==0.8.1
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.8.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.4
Brotli==1.0.9
browser-cookie3==0.16.2
bs4==0.0.2
cachetools==5.3.0
capstone==4.0.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
cmake==3.27.5
colorama==0.4.6
colour==0.1.5
comm==0.2.2
commonmark==0.9.1
contourpy==1.0.7
cryptography==38.0.4
cycler==0.11.0
datasets==2.21.0
datefinder==0.7.3
dateutils==0.6.12
dbus-python==1.2.18
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.1.0
duckdb==1.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.12.4
Flask==2.2.3
Flask-Cors==4.0.0
flatlatex==0.15
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2024.3.1
ghp-import==2.1.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.58.0
gspread==5.8.0
gw_dsl_parser==0.1.49.1
gym==0.20.0
gym-unity==0.28.0
gyp==0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.20.2
httpx==0.23.3
huggingface-hub==0.22.2
hyperframe==6.0.1
idna==3.4
importlib-metadata==4.6.4
importlib_resources==6.4.5
ipykernel==6.21.2
ipylab==1.0.0
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
iso639-lang==2.2.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.3.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab_widgets==3.0.13
kaitaistruct==0.10
kanaries_track==0.0.5
keyring==23.5.0
kiwisolver==1.4.4
langdetect==1.0.9
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
ldap3==2.9.1
lit==16.0.6
littleutils==0.2.2
livereload==2.6.3
llvmlite==0.40.1
loguru==0.6.0
lz4==4.3.2
Mako==1.2.4
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mergedeep==1.3.4
mistune==2.0.5
mitmproxy==9.0.0
mitmproxy_wireguard==0.1.23
mkdocs==1.4.2
mkdocs-material==9.1.6
mkdocs-material-extensions==1.1.1
mlagents-envs==0.28.0
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.16
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.57.1
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python==4.7.0.68
openpyxl==3.1.2
outcome==1.2.0
outdated==0.2.2
packaging==23.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
patsy==0.5.6
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
pls-cli==0.3.1
prometheus-client==0.16.0
prompt-toolkit==3.0.37
protobuf==3.20.3
psutil==5.9.4
psycopg2==2.9.6
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pyaes==1.6.1
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pybedtools==0.9.1
pycparser==2.21
pycryptodome==3.17
pydantic==2.9.2
pydantic_core==2.23.4
pydetex==1.0.8
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.14.0
PyGObject==3.42.1
pygwalker==0.4.9.10
pyinotify==0.9.6
PyJWT==2.3.0
PyLog2html==1.0.4
pymdown-extensions==9.11
PyMsgBox==1.0.9
PyMultiDictionary==1.2.4
pyOpenSSL==22.1.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0
PyRect==0.2.0
pyrsistent==0.19.3
pysam==0.17.0
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.10
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python3-xlib==0.15
pytweening==1.2.0
pytz==2023.3
PyVCF==0.6.8
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==25.0.0
quickjs==1.19.4
regex==2023.3.23
requests==2.32.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==12.6.0
ROPGadget==7.2
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
safetensors==0.4.3
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.13.2
SecretStorage==3.3.1
segment-analytics-python==2.2.3
selenium==4.8.2
Send2Trash==1.8.0
shap==0.42.1
shellingham==1.5.0.post1
six==1.16.0
sklearn==0.0.post7
slicer==0.0.7
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==2.0.9
sqlglot==25.24.4
stack-data==0.6.2
statsmodels==0.14.2
structlog==20.2.0
sympy==1.12
systemd-python==234
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tk==0.1.0
tkmacosx==1.0.5
tld==0.13
tokenizers==0.19.1
torch==2.0.1
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
transformers==4.40.1
trio==0.22.0
trio-websocket==0.9.2
triton==2.0.0
type_enforced==1.5.0
typer==0.7.0
typing_extensions==4.12.2
tzdata==2023.3
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.2.0
urllib3==1.26.14
urwid==2.1.2
wadllib==1.3.6
wapiti3==3.1.7
wasmtime==25.0.0
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.12
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.13
wsproto==1.2.0
xxhash==3.5.0
yarl==1.8.2
yaswfp==0.9.3
zipp==1.0.0
zstandard==0.18.0
